<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 header-content">
            <h1>Ryan O'Neill</h1>
            <p>
              Builder of things in the universe and at Twitter
            </p>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

  </body>
</html>